<a href="https://colab.research.google.com/github/XORbit01/IHCA_data_cleaning/blob/main/IHCA_DATA_CLEANING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IHCA Data Cleaning Workflow

This notebook chronicles the end-to-end cleaning pipeline for the in-hospital cardiac arrest (IHCA) registry. The intent is to:

- consolidate records captured in the `ND` and `ICU` source tabs
- standardize clinical variables so downstream analytics receive consistent schemas
- cross-check event timelines for internal consistency
- derive interpretable features needed for survival and resuscitation analyses

Each section states the clinical or data-quality motivation behind the transformations so that peers can audit, reproduce, or extend the workflow with confidence.

## 1. Environment Setup

Install and import the core libraries required for the cleaning workflow. The dataset manipulation relies on `pandas` for structured ingests and vectorized transformations.

In [ ]:
%pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### 2. Load Source Workbooks

Read both source tabs (`ND` and `ICU`) from the master Excel file. Keeping them in separate DataFrames allows us to compare schemas and diagnose inconsistencies before merging.

In [ ]:
import pandas as pd

df_nd = pd.read_excel("IHCA data 00.xlsx", sheet_name="ND")
df_icu = pd.read_excel("IHCA data 00.xlsx", sheet_name="ICU")

### 3. Profile Raw Schemas

Inspect column names, data types, and non-null counts for each sheet. Early profiling highlights naming drift and missingness patterns that must be reconciled before concatenating the sources.

In [ ]:
# Review schema for the nursing dataset tab
df_nd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   MRN                                200 non-null    int64
 1   Gend                               200 non-null    object
 2   Birth
Year                         200 non-null    int64
 3   Arrest
Year                        200 non-null    int64
 4   Age                                200 non-null    int64
 5   CAD                                200 non-null    object
 6   Heart
failure                      200 non-null    object
 7   Heart
disease                     200 non-null    object
 8   Hyper
-tension                     200 non-null    object
 9   COPD                               200 non-null    object
 10  Diabetes                           200 non-null    object
 11  Cancer                             200 non-null    object
 12  Covid
at adm                       200 non-null    object
 13  Smoking                            200 non-null    object
 14  Event
loc.                        200 non-null    object
 15  Arrest
date                        200 non-null    datetime64[ns]
 16  Arrest
time                        200 non-null    object
 17  CPR
date                          200 non-null    datetime64[ns]
 18  CPR
time                          200 non-null    object
 19  Defibrillation
(time, frequency)  200 non-null    object
 20  Initial
cardiac
rhythm           199 non-null    object
 21  ROSC
(y/n)                        200 non-null    object
 22  ROSC
date                         200 non-null    datetime64[ns]
 23  ROSC
time                         200 non-null    object
 24  24 hours
survival                  200 non-null    object
 25  Survival
to discharge             200 non-null    object
dtypes: datetime64[ns](3), int64(4), object(19)
memory usage: 40.8+ KB

In [ ]:
df_icu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   MRN                                673 non-null    int64
 1   Gend.                              672 non-null    object
 2   Birth
year                         672 non-null    float64
 3   Arrest
year                       673 non-null    int64
 4   Age                                672 non-null    float64
 5   CAD                                673 non-null    object
 6   Heart
failure                      673 non-null    object
 7   Heart
disease                     673 non-null    object
 8   Hyper
-tension                     672 non-null    object
 9   COPD                               673 non-null    object
 10  Diabetes                           673 non-null    object
 11  Cancer                             673 non-null    object
 12  Covid
at adm                       673 non-null    object
 13  Smoking                            671 non-null    object
 14  Event
location                    673 non-null    object
 15  Arrest
date                       673 non-null    datetime64[ns]
 16  Arrest
time                       673 non-null    object
 17  CPR
date                          673 non-null    object
 18  CPR
time                          673 non-null    object
 19  Defibrillation
(time, frequency)  673 non-null    object
 20  Initial cardiac
rhythm            672 non-null    object
 21  ROSC
(y/n)                        673 non-null    object
 22  ROSC
date                         673 non-null    object
 23  ROSC
time                          673 non-null    object
 24  24 hours
survival                  671 non-null    object
 25  Survival
to discharge             672 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(21)
memory usage: 136.8+ KB

### 4. Align Column Names

A helper function surfaces naming mismatches between tabs. After normalizing case, whitespace, and punctuation we confirm the schemas align before unioning the records.

In [ ]:
def difference():
    """Report column names that exist in only one of the source DataFrames."""
    diff_nd = df_nd.columns.difference(df_icu.columns)
    diff_icu = df_icu.columns.difference(df_nd.columns)

    print("Column names in df_nd but not in df_icu:")
    display(diff_nd)

    print("\nColumn names in df_icu but not in df_nd:")
    display(diff_icu)

In [ ]:
# Normalize header casing and remove stray whitespace/newline characters
import re

df_nd.columns = df_nd.columns.str.lower().str.replace('\n', ' ').str.strip()
df_icu.columns = df_icu.columns.str.lower().str.replace('\n', ' ').str.strip()

# Collapse repeated spaces and strip trailing punctuation to align naming conventions
df_nd.columns = (
    df_nd.columns
        .str.replace(r'\.+$', '', regex=True)
        .str.replace(r'\s+', ' ', regex=True)
        .str.strip()
)

df_icu.columns = (
    df_icu.columns
        .str.replace(r'\.+$', '', regex=True)
        .str.replace(r'\s+', ' ', regex=True)
        .str.strip()
)

In [ ]:
# check the difference again
difference()

Column names in df_nd but not in df_icu:

Index(['event loc'], dtype='object')

Column names in df_icu but not in df_nd:

Index(['event location'], dtype='object')

### 5. Merge Labeled Sources

Tag each record with its origin (`ND` vs `ICU`) so provenance remains traceable after concatenation. Column renaming consolidates verbose headers into analytics-friendly field names while preserving clinical meaning.

In [ ]:
# Harmonize the event location header before concatenation
df_nd.rename(columns={'event loc': 'event_location'}, inplace=True)
df_icu.rename(columns={'event location': 'event_location'}, inplace=True)

In [ ]:
difference()

Column names in df_nd but not in df_icu:

Index([], dtype='object')

Column names in df_icu but not in df_nd:

Index([], dtype='object')

In [ ]:
# Preserve provenance while combining both source tabs
df_nd["origin"] = "ND"
df_icu["origin"] = "ICU"
df = pd.concat([df_nd, df_icu], ignore_index=True)
df.columns

Index(['mrn', 'gend', 'birth year', 'arrest year', 'age', 'cad',
       'heart failure', 'heart disease', 'hyper -tension', 'copd', 'diabetes',
       'cancer', 'covid at adm', 'smoking', 'event_location', 'arrest date',
       'arrest time', 'cpr date', 'cpr time',
       'defibrillation (time, frequency)', 'initial cardiac rhythm',
       'rosc (y/n)', 'rosc date', 'rosc time', '24 hours survival',
       'survival to discharge', 'origin'],
      dtype='object')

In [ ]:
# Rename verbose fields to modeling-friendly aliases while retaining meaning
df = df.rename(columns={
    'mrn': 'mrn',
    'gend': 'gender',
    'birth year': 'birth_year',
    'arrest year': 'arrest_year',
    'age': 'age',
    'cad': 'coronary_artery_disease',
    'heart failure': 'heart_failure',
    'heart disease': 'heart_disease',
    'hyper -tension': 'hypertension',
    'copd': 'copd',
    'diabetes': 'diabetes',
    'cancer': 'cancer',
    'covid at adm': 'covid_on_admission',
    'smoking': 'smoking',
    'event_location': 'event_location',
    'arrest date': 'arrest_date',
    'arrest time': 'arrest_time',
    'cpr date': 'cpr_date',
    'cpr time': 'cpr_time',
    'defibrillation (time, frequency)': 'defibrillation_info',
    'initial cardiac rhythm': 'initial_rhythm',
    'rosc (y/n)': 'rosc',
    'rosc date': 'rosc_date',
    'rosc time': 'rosc_time',
    '24 hours survival': 'survival_24h',
    'survival to discharge': 'survival_to_discharge',
    'origin': 'origin'
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mrn                      873 non-null    int64
 1   gender                   872 non-null    object
 2   birth_year               872 non-null    float64
 3   arrest_year              873 non-null    int64
 4   age                      872 non-null    float64
 5   coronary_artery_disease  873 non-null    object
 6   heart_failure            873 non-null    object
 7   heart_disease            873 non-null    object
 8   hypertension             872 non-null    object
 9   copd                     873 non-null    object
 10  diabetes                 873 non-null    object
 11  cancer                   873 non-null    object
 12  covid_on_admission       873 non-null    object
 13  smoking                  871 non-null    object
 14  event_location           873 non-null    object
 15  arrest_date              873 non-null    datetime64[ns]
 16  arrest_time              873 non-null    object
 17  cpr_date                 873 non-null    object
 18  cpr_time                 873 non-null    object
 19  defibrillation_info      873 non-null    object
 20  initial_rhythm           871 non-null    object
 21  rosc                     873 non-null    object
 22  rosc_date                873 non-null    object
 23  rosc_time                873 non-null    object
 24  survival_24h             871 non-null    object
 25  survival_to_discharge    872 non-null    object
 26  origin                   873 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(22)
memory usage: 184.3+ KB

### 6. Create a Working Copy for Feature Standardization

Perform exploratory validation and cleaning on a copy of the merged dataset (`df_eda`). This ensures the raw merged frame remains unchanged for auditing while we iteratively standardize each domain.

In [ ]:
# Preserve the merged dataset and work off a mutable copy
df_eda = df.copy()

#### 6.1 Standardize Demographic Fields

Validate the `gender` entries to ensure no missing values remain and that categorical encodings are explicit (`M`, `F`, `U`).

In [ ]:
# Inspect the raw gender distribution and missingness metrics
df_eda["gender"].value_counts(dropna=False)
df_eda["gender"].unique()
df_eda["gender"].isna().sum()

np.int64(1)

In [ ]:
# Impute missing gender values with 'U' (Unknown) for downstream consistency
df_eda["gender"] = df_eda["gender"].fillna("U")

#### 6.2 Validate Age Consistency

Confirm age values remain physiologically plausible by triangulating `age`, `birth_year`, and `arrest_year`. This guards against transcription errors that could bias risk models.

In [ ]:
# Review descriptive statistics for the age field
_df_age_summary = df["age"].describe()
_df_age_summary

count    872.000000
mean      71.147936
std       19.964950
min        0.000000
25%       64.000000
50%       76.000000
75%       85.000000
max      113.000000
Name: age, dtype: float64

In [ ]:
# Quantify neonate/infant cases (age ≤ 1 year)
(df["age"] <= 1).sum()

np.int64(15)

In [ ]:
# Cross-check reported age against birth and arrest years to flag transcription issues
df_eda["computed_age"] = df_eda["arrest_year"] - df_eda["birth_year"]

df_eda["age_mismatch"] = (df_eda["age"] - df_eda["computed_age"]).abs() > 1

df_eda.loc[df_eda["age_mismatch"], ["age", "birth_year", "arrest_year", "computed_age"]]

Empty DataFrame
Columns: [age, birth_year, arrest_year, computed_age]
Index: []

In [ ]:
# Remove helper flag after confirming no discrepancies
df_eda = df_eda.drop(columns=["age_mismatch"])

In [ ]:
# Validation summary: neonatal records align with arrest and birth years.
# The observed minimum age represents true infant cases rather than data entry errors.

In [ ]:
df_eda = df_eda.drop(columns=["computed_age"])  # Remove temporary calculation column

#### 6.3 Standardize Chronic Condition Flags

Iteratively validate each comorbidity indicator, harmonizing free-text values and resolving implausible combinations across cardiovascular diagnoses.

In [ ]:
# Explore raw hypertension responses to scope normalization rules
df_eda["hypertension"].value_counts(dropna=False)

hypertension
yes    535
no     337
NaN      1
Name: count, dtype: int64

In [ ]:
# Harmonize hypertension values to a consistent Y/N/U encoding
df_eda["hypertension"] = df_eda["hypertension"].replace({"yes": "Y", "no": "N"})
df_eda["hypertension"] = df_eda["hypertension"].fillna("U")

In [ ]:
# Review diabetes responses before normalization
df_eda["diabetes"].value_counts(dropna=False)

diabetes
no     476
yes    391
Yes      3
No       2
na       1
Name: count, dtype: int64

In [ ]:
# Map free-text diabetes responses to canonical categories
df_eda["diabetes"] = df_eda["diabetes"].replace({
    "yes": "Y",
    "Yes": "Y",
    "no": "N",
    "No": "N",
    "na": "U"
})

# Convert genuine NaN values to Unknown
df_eda["diabetes"] = df_eda["diabetes"].fillna("U")

In [ ]:
# Review heart_failure responses before standardization
df_eda["heart_failure"].value_counts(dropna=False)

heart_failure
no     699
yes    174
Name: count, dtype: int64

In [ ]:
# Normalize heart_failure entries to Y/N/U
df_eda["heart_failure"] = df_eda["heart_failure"].replace({
    "yes": "Y",
    "no": "N",
})

df_eda["heart_failure"] = df_eda["heart_failure"].fillna("U")

In [ ]:
# Review coronary_artery_disease responses before standardization
df_eda["coronary_artery_disease"].value_counts(dropna=False)

coronary_artery_disease
no     848
yes     24
yn       1
Name: count, dtype: int64

In [ ]:
# Treat ambiguous 'yn' entries as Unknown to avoid overstating prevalence

In [ ]:
df_eda["coronary_artery_disease"] = df_eda["coronary_artery_disease"].replace({
    "yes": "Y",
    "no": "N",
    "yn": "U"   # suspicious → mark as Unknown
})

df_eda["coronary_artery_disease"] = df_eda["coronary_artery_disease"].fillna("U")

In [ ]:
# Inspect heart_disease responses and align with Y/N conventions
df_eda["heart_disease"].value_counts(dropna=False)
df_eda["heart_disease"] = df_eda["heart_disease"].replace({
    "yes": "Y",
    "no": "N",
})

In [ ]:
# Identify records where CAD and heart failure are both positive but heart_disease is negative
# Clinically, such combinations likely indicate an entry error.
df_eda["heart_disease_mismatch"] = (
    (df_eda["coronary_artery_disease"] == "Y") &
    (df_eda["heart_failure"] == "Y") &
    (df_eda["heart_disease"] == "N")
)
df_eda["heart_disease_mismatch"].value_counts()

heart_disease_mismatch
False    871
True       2
Name: count, dtype: int64

In [ ]:
# Review the conflicting rows to confirm they appear to be data-entry issues rather than true exceptions
df_eda[
    df_eda["heart_disease_mismatch"]
][[
    "age",
    "gender",
    "coronary_artery_disease",
    "heart_failure",
    "heart_disease",
    "smoking",
    "diabetes",
    "hypertension",
    "copd",
    "cancer",
    "survival_to_discharge",
    "rosc",
    "origin"
]]

,age,gender,coronary_artery_disease,heart_failure,heart_disease,smoking,diabetes,hypertension,copd,cancer,survival_to_discharge,rosc,origin
708,77.0,M,Y,Y,N,yes,Y,Y,yes,no,no,yes,ICU
731,59.0,F,Y,Y,N,na,Y,Y,no,no,no,yes,ICU

In [ ]:
# Override the two conflicting records so that severe cardiac diagnoses remain internally consistent
df_eda.loc[
    (df_eda["coronary_artery_disease"] == "Y") |
    (df_eda["heart_failure"] == "Y"),
    "heart_disease"
] = "Y"

In [ ]:
# Remove the temporary mismatch indicator after resolving discrepancies
df_eda = df_eda.drop(columns=["heart_disease_mismatch"])

In [ ]:
# Inspect COPD field for inconsistent encodings
df_eda["copd"].value_counts(dropna=False)

copd
no     786
yes     87
Name: count, dtype: int64

In [ ]:
# Standardize COPD responses to uppercase categorical flags
df_eda["copd"] = df_eda["copd"].replace({
    "yes": "Y", "Yes": "Y",
    "no": "N", "No": "N",
    "na": "U", "Na": "U", "NA": "U"
})

In [ ]:
# Inspect cancer responses before recoding
df_eda["cancer"].value_counts(dropna=False)

cancer
no     752
yes    121
Name: count, dtype: int64

In [ ]:
# Values appear standardized but will still map to ensure case consistency

In [ ]:
# Standardize cancer responses to Y/N
df_eda["cancer"] = df_eda["cancer"].replace({
    "yes": "Y", "Yes": "Y",
    "no": "N", "No": "N",
})

In [ ]:
# Inspect smoking status values to design canonical mapping
df_eda["smoking"].value_counts(dropna=False)

smoking
no          661
yes         191
na           10
No            3
Yes           2
NaN           2
NO            1
old           1
previous      1
yes           1
Name: count, dtype: int64

In [ ]:
# Map smoking history to current (`Y`), none (`N`), previous (`P`), or unknown (`U`)
df_eda["smoking"] = df_eda["smoking"].replace({
    "yes": "Y",
    "Yes": "Y",
    "YES": "Y",

    "no": "N",
    "No": "N",
    "NO": "N",

    "old": "Y",
    "previous": "Y",
    "Previous": "Y",
})

df_eda["smoking"] = df_eda["smoking"].fillna("U")

In [ ]:
# Validate the distribution after recoding
df_eda["smoking"].value_counts(dropna=False)

smoking
N       665
Y       195
na       10
U         2
yes       1
Name: count, dtype: int64

In [ ]:
# Trim whitespace artifacts that may have prevented replacements from applying
df_eda["smoking"] = df_eda["smoking"].str.strip()

In [ ]:
# Re-run mapping after whitespace cleanup to capture remaining variants
df_eda["smoking"] = df_eda["smoking"].replace({
    "yes": "Y",
    "Yes": "Y",
    "YES": "Y",

    "no": "N",
    "No": "N",
    "NO": "N",
    "na": "U",
    "old": "P",
    "previous": "P",
    "Previous": "P",
})

df_eda["smoking"] = df_eda["smoking"].fillna("U")

In [ ]:
# Confirm final smoking distribution and residual unknown volume
df_eda["smoking"].value_counts(dropna=False)

smoking
N    665
Y    196
U     12
Name: count, dtype: int64

In [ ]:
# Note: 12 encounters remain Unknown; retain for now pending clinical clarification

#### 6.4 Admission Infection Status

Standardize the COVID-on-admission indicator to the core `Y/N` vocabulary used across the dataset.

In [ ]:
# Review COVID-on-admission responses prior to recoding
df_eda["covid_on_admission"].value_counts(dropna=False)

covid_on_admission
no     808
yes     65
Name: count, dtype: int64

In [ ]:
# Normalize admission infection status to consistent uppercase codes
df_eda["covid_on_admission"] = df_eda["covid_on_admission"].replace({
    "yes": "Y",
    "no": "N",
})

#### 6.5 Event Context & Timing Variables

Normalize the location codes and validate the sequence of arrest, CPR, and ROSC timestamps to ensure temporal consistency.

In [ ]:
# 6.5 Event Context & Timing Variables
# Normalize the location codes and validate the sequence of arrest, CPR, and ROSC timestamps to ensure temporal consistency.

In [ ]:
df_eda["event_location"].value_counts(dropna=False)

event_location
ICU              638
MMS               69
CVU               62
FMS               35
CCU               22
ped                9
DSU                9
covid              7
POST ICU           6
COVID              3
PED                3
OR                 2
ICU2               2
PICU               2
OBS                1
NICU               1
na                 1
DSU (acineto)      1
Name: count, dtype: int64

**Operational definitions for `event_location`:**

| Code | Interpretation |
| --- | --- |
| ICU, ICU2, POST ICU, CCU, CVU, PICU, NICU | Intensive or cardiac critical care units |
| MMS, FMS, COVID, COVID UNIT | Medical/surgical wards (grouped as ward care) |
| PED, PEDIATRIC | Dedicated pediatric ward |
| DSU, DSU (acineto), OPERATING ROOM | Procedural or perioperative spaces |
| OBS | Obstetrics ward |
| NA | Missing/unknown location |

In [ ]:
# Reference the glossary above when interpreting event location codes

In [ ]:
# Normalize casing and remove trailing whitespace before recoding
df_eda["event_location"] = df_eda["event_location"].str.lower().str.strip()

In [ ]:
# Consolidate synonymous unit labels prior to classification
df_eda["event_location"] = df_eda["event_location"].replace({
    "icu2": "icu",
    "post icu": "post_icu",
    "covid": "covid_unit",
    "dsu (acineto)": "dsu",
    "ped": "pediatric",
    "picu": "pediatric_icu",
    "nicu": "neonatal_icu",
    "or": "operating_room",
    "obs": "obstetrics"
})

In [ ]:
# Rename remaining COVID isolation labels to a single value
df_eda["event_location"] = df_eda["event_location"].replace({
    "covid_unit": "covid_ward"
})

In [ ]:
df_eda["event_location"] = df_eda["event_location"].replace("na", "unknown")  # Flag missing units explicitly

In [ ]:
# Verify final location distribution after normalization
df_eda["event_location"].value_counts(dropna=False)

event_location
icu               640
mms                69
cvu                62
fms                35
ccu                22
pediatric          12
covid_ward         10
dsu                10
post_icu            6
operating_room      2
pediatric_icu       2
obstetrics          1
unknown             1
neonatal_icu        1
Name: count, dtype: int64

In [ ]:
# Inspect arrest, CPR, and ROSC dates before conversion
df_eda[["arrest_date", "cpr_date", "rosc_date"]]

    arrest_date             cpr_date            rosc_date
0    2018-06-26  2018-06-26 00:00:00  2018-06-26 00:00:00
1    2018-07-14  2018-07-14 00:00:00  2018-07-14 00:00:00
2    2018-07-30  2018-07-30 00:00:00  2018-07-30 00:00:00
3    2018-10-14  2018-10-14 00:00:00  2018-10-14 00:00:00
4    2018-06-11  2018-06-11 00:00:00  2018-11-06 00:00:00
..          ...                  ...                  ...
868  2024-02-16  2024-02-16 00:00:00  2024-02-16 00:00:00
869  2024-02-23  2024-02-23 15:35:00            23/2/2024
870  2024-02-27  2024-02-27 10:02:00            27/2/2024
871  2024-02-27  2024-02-27 19:15:00            27/2/2024
872  2024-02-29  2024-02-29 01:45:00            29/2/2024

[873 rows x 3 columns]

In [ ]:
nan_arrest  = df_eda['arrest_date'].isna().sum()
nan_cpr = df_eda['cpr_date'].isna().sum()
nan_rosc = df_eda['rosc_date'].isna().sum()

nan_arrest, nan_cpr, nan_rosc

(np.int64(0), np.int64(0), np.int64(0))

In [ ]:
# make sure they are datetime
df_eda["arrest_date"] = pd.to_datetime(df_eda["arrest_date"], errors='coerce', utc=False)
df_eda["cpr_date"]    = pd.to_datetime(df_eda["cpr_date"], errors='coerce', utc=False)
df_eda["rosc_date"]   = pd.to_datetime(df_eda["rosc_date"], errors='coerce', utc=False)

In [ ]:
# With valid datetime types, evaluate whether the event timeline is clinically coherent

In [ ]:
def calculate_difference_between_dates(df_eda):
  df_eda['arrest_to_cpr'] = (df_eda['cpr_date'] - df_eda['arrest_date'])
  df_eda['arrest_to_rosc'] = (df_eda['rosc_date'] - df_eda['arrest_date'])
  print(df_eda[['arrest_date','cpr_date','rosc_date','arrest_to_cpr','arrest_to_rosc']] \
  .sort_values('arrest_to_rosc', ascending=False))
  df_eda.drop(columns=["arrest_to_cpr"], inplace=True, errors="ignore")
calculate_difference_between_dates(df_eda)

    arrest_date            cpr_date  rosc_date   arrest_to_cpr arrest_to_rosc
374  2020-01-12 2020-01-12 01:37:00 2020-12-01 0 days 01:37:00       324 days
84   2020-01-12 2020-01-12 00:00:00 2020-12-01 0 days 00:00:00       324 days
167  2022-01-12 2022-01-12 00:00:00 2022-12-01 0 days 00:00:00       323 days
693  2023-01-12 2023-01-12 01:00:00 2023-12-01 0 days 01:00:00       323 days
552  2022-01-12 2022-01-12 07:10:00 2022-12-01 0 days 07:10:00       323 days
..          ...                 ...        ...             ...            ...
40   2019-12-02 2019-12-02 00:00:00 2019-02-12 0 days 00:00:00      -293 days
31   2019-11-01 2019-11-01 00:00:00 2019-01-11 0 days 00:00:00      -294 days
82   2020-11-01 2020-11-01 00:00:00 2020-01-11 0 days 00:00:00      -295 days
58   2020-11-01 2020-11-01 00:00:00 2020-01-11 0 days 00:00:00      -295 days
667  2022-12-01 2022-12-01 00:00:00 2022-01-12 0 days 00:00:00      -323 days

[873 rows x 5 columns]

In [ ]:
# Identify and correct obvious day/month swaps in ROSC dates
cond = (
    (df_eda['arrest_date'].dt.month == df_eda['rosc_date'].dt.day) &
    (df_eda['arrest_date'].dt.day == df_eda['rosc_date'].dt.month)
)

df_eda.loc[cond, 'rosc_date'] = df_eda.loc[cond, 'rosc_date'].apply(
    lambda x: pd.Timestamp(year=x.year, month=x.day, day=x.month)
)

In [ ]:
# Surface residual records where ROSC precedes arrest or occurs implausibly late
# Clinical expectation: ROSC should occur on or after the arrest date and usually within 24 hours.
bad_rows = df_eda[
    (df_eda['cpr_date'] < df_eda['arrest_date']) |
    (df_eda['rosc_date'] < df_eda['arrest_date'])
][['arrest_date', 'rosc_date', 'rosc', 'cpr_date']]

bad_rows

    arrest_date  rosc_date rosc            cpr_date
53   2020-08-02 2020-01-08  yes 2020-08-02 00:00:00
166  2022-04-01 2022-03-01   no 2022-04-01 00:00:00
190  2023-12-18 2023-12-12   no 2023-12-18 00:00:00
258  2018-11-17 2018-11-16   no 2018-11-17 01:30:00
789  2023-08-03 2023-02-08  yes 2023-08-03 17:11:00

In [ ]:
# Manually fix the remaining outliers based on clinical plausibility review
# Row 53 shows a swapped day/month pattern; others appear to have ROSC dates entered earlier than arrest.
row_53 = df_eda.loc[53, 'rosc_date']
swapped = pd.to_datetime(f"{row_53.year}-{row_53.day:02d}-{row_53.month:02d}", errors='coerce')
if swapped < df_eda.loc[53, 'arrest_date']:
    df_eda.loc[53, 'rosc_date'] = df_eda.loc[53, 'arrest_date']
else:
    df_eda.loc[53, 'rosc_date'] = swapped

# Align remaining cases by assuming ROSC occurred on the arrest date when earlier timestamps were entered
bad_rows = [166, 190, 258, 789]
df_eda.loc[bad_rows, 'rosc_date'] = df_eda.loc[bad_rows, 'arrest_date']

# Recalculate deltas to confirm corrections
calculate_difference_between_dates(df_eda)

    arrest_date            cpr_date  rosc_date   arrest_to_cpr arrest_to_rosc
730  2023-04-09 2023-04-09 23:33:00 2023-10-04 0 days 23:33:00       178 days
596  2022-05-08 2022-05-08 23:51:00 2022-07-05 0 days 23:51:00        58 days
94   2021-12-21 2021-12-21 00:00:00 2021-12-29 0 days 00:00:00         8 days
0    2018-06-26 2018-06-26 00:00:00 2018-06-26 0 days 00:00:00         0 days
584  2022-03-22 2022-03-22 20:10:00 2022-03-22 0 days 20:10:00         0 days
..          ...                 ...        ...             ...            ...
295  2019-03-24 2019-03-24 14:40:00 2019-03-24 0 days 14:40:00         0 days
296  2019-03-26 2019-03-26 21:53:00 2019-03-26 0 days 21:53:00         0 days
297  2019-03-27 2019-03-27 12:50:00 2019-03-27 0 days 12:50:00         0 days
298  2019-03-27 2019-03-27 17:30:00 2019-03-27 0 days 17:30:00         0 days
872  2024-02-29 2024-02-29 01:45:00 2024-02-29 0 days 01:45:00         0 days

[873 rows x 5 columns]

In [ ]:
# Final manual adjustments identified during spot-check of long arrest-to-ROSC intervals
df_eda.loc[730, 'rosc_date'] = pd.to_datetime("2023-04-10")  # Correct transposed day/month

df_eda.loc[596, 'rosc_date'] = pd.to_datetime("2022-05-09")  # Align midnight spillover entry
calculate_difference_between_dates(df_eda)

    arrest_date            cpr_date  rosc_date   arrest_to_cpr arrest_to_rosc
94   2021-12-21 2021-12-21 00:00:00 2021-12-29 0 days 00:00:00         8 days
596  2022-05-08 2022-05-08 23:51:00 2022-05-09 0 days 23:51:00         1 days
730  2023-04-09 2023-04-09 23:33:00 2023-04-10 0 days 23:33:00         1 days
0    2018-06-26 2018-06-26 00:00:00 2018-06-26 0 days 00:00:00         0 days
584  2022-03-22 2022-03-22 20:10:00 2022-03-22 0 days 20:10:00         0 days
..          ...                 ...        ...             ...            ...
295  2019-03-24 2019-03-24 14:40:00 2019-03-24 0 days 14:40:00         0 days
296  2019-03-26 2019-03-26 21:53:00 2019-03-26 0 days 21:53:00         0 days
297  2019-03-27 2019-03-27 12:50:00 2019-03-27 0 days 12:50:00         0 days
298  2019-03-27 2019-03-27 17:30:00 2019-03-27 0 days 17:30:00         0 days
872  2024-02-29 2024-02-29 01:45:00 2024-02-29 0 days 01:45:00         0 days

[873 rows x 5 columns]

#### 6.6 Normalize Event Times

Convert arrest, CPR, and ROSC times into comparable durations (`Timedelta`) so temporal deltas can be computed reliably, even when source formats vary.

In [ ]:
# Inspect sample arrest times to understand formatting variations
df_eda["arrest_time"].head(10)

0    15:15:00
1    14:30:00
2    15:30:00
3    14:00:00
4    04:15:00
5    20:37:00
6    12:35:00
7    06:01:00
8    10:44:00
9    18:12:00
Name: arrest_time, dtype: object

In [ ]:
df_eda["arrest_time"].apply(type).value_counts()

arrest_time
<class 'datetime.timedelta'>    635
<class 'datetime.time'>         237
<class 'datetime.datetime'>       1
Name: count, dtype: int64

In [ ]:
import datetime

# Convert datetime.time and datetime.datetime objects to strings
df_eda['arrest_time'] = df_eda['arrest_time'].apply(
    lambda x: x.strftime('%H:%M:%S') if isinstance(x, (datetime.time, datetime.datetime)) else x
)

# Now, convert the cleaned column to timedelta
df_eda["arrest_time"] = pd.to_timedelta(df_eda["arrest_time"], errors="coerce")

In [ ]:
df_eda["arrest_time"].isna().sum()

np.int64(0)

In [ ]:
df_eda["cpr_time"].apply(type).value_counts()

cpr_time
<class 'datetime.datetime'>     628
<class 'datetime.timedelta'>    231
<class 'datetime.time'>           9
<class 'str'>                     5
Name: count, dtype: int64

In [ ]:
df_eda[df_eda["cpr_time"].apply(lambda x: isinstance(x, str))]["cpr_time"].unique()

array(['na', '**', 'no cpr'], dtype=object)

In [ ]:
df_eda["cpr_time"].apply(type).value_counts()

cpr_time
<class 'datetime.datetime'>     628
<class 'datetime.timedelta'>    231
<class 'datetime.time'>           9
<class 'str'>                     5
Name: count, dtype: int64

In [ ]:
import datetime

# Normalize CPR time strings and mark unusable entries as missing
invalid_values = ['na', 'n/a', 'none', 'no cpr', '**', '', 'nan']
df_eda.loc[df_eda["cpr_time"].astype(str).str.lower().isin(invalid_values), "cpr_time"] = pd.NaT

# Define a helper to standardize valid time objects
def format_time_safely(x):
    if pd.isna(x):
        return pd.NaT
    if isinstance(x, (datetime.time, datetime.datetime)):
        return x.strftime("%H:%M:%S")
    return x

# Apply normalization and convert to timedeltas
df_eda["cpr_time"] = df_eda["cpr_time"].apply(format_time_safely)
df_eda["cpr_time"] = pd.to_timedelta(df_eda["cpr_time"], errors="coerce")

In [ ]:
# Inspect encounters lacking CPR timestamps to understand whether they reflect DNR decisions
df_eda[df_eda["cpr_time"].isna()]
# Five records have missing CPR times; flag for clinical review.

,mrn,gender,birth_year,arrest_year,age,coronary_artery_disease,heart_failure,heart_disease,hypertension,copd,...,cpr_time,defibrillation_info,initial_rhythm,rosc,rosc_date,rosc_time,survival_24h,survival_to_discharge,origin,arrest_to_rosc
279,24594,M,1925.0,2019,94.0,N,N,N,Y,N,...,NaT,na,na,yes,2019-01-24,**,yes,yes,ICU,0 days
542,200839744,F,1937.0,2021,84.0,N,N,Y,Y,N,...,NaT,**,**,yes,2021-12-25,**,yes,yes,ICU,0 days
551,202159311,M,2021.0,2022,1.0,N,N,N,N,N,...,NaT,na,na,yes,2022-01-10,**,yes,yes,ICU,0 days
788,202024297,M,1942.0,2023,81.0,U,N,Y,N,N,...,NaT,no cpr,no cpr,no,2023-08-02,8:30:00,no,no,ICU,0 days
817,202329248,M,1944.0,2023,79.0,N,N,N,Y,N,...,NaT,na,na,no,2023-10-26,time na,no,no,ICU,0 days

In [ ]:
# Interpretation guide for missing CPR times:
# - Survival with missing CPR suggests documentation gaps.
# - Death with missing CPR could reflect DNR status or incomplete charting.
# - Explicit "no CPR" text confirms non-resuscitation orders.
# - Missing CPR data + survival=no strengthens the DNR inference.
# Follow-up: consult defibrillation details for corroboration.

In [ ]:
df_eda["rosc_time"].apply(type).value_counts()

rosc_time
<class 'datetime.timedelta'>    587
<class 'datetime.time'>         216
<class 'str'>                    70
Name: count, dtype: int64

In [ ]:
df_eda[df_eda["rosc_time"].apply(lambda x: isinstance(x, str))]["rosc_time"].unique()

array(['**', 'time na', 'na', '??'], dtype=object)

In [ ]:
invalid_values = ['na', 'n/a', 'none', 'no rosc', '**', '', 'nan', 'time na', '??']

df_eda.loc[
    df_eda["rosc_time"].astype(str).str.lower().isin(invalid_values),
    "rosc_time"
] = pd.NaT

In [ ]:
df_eda["rosc_time"].apply(type).value_counts()

rosc_time
<class 'datetime.timedelta'>                     587
<class 'datetime.time'>                          216
<class 'pandas._libs.tslibs.nattype.NaTType'>     70
Name: count, dtype: int64

In [ ]:
import datetime

# Define a function to safely convert time objects to strings, handling NaT
def format_time_safely_rosc(x):
    if pd.isna(x):  # Check if the value is NaT
        return pd.NaT
    elif isinstance(x, (datetime.time, datetime.datetime)): # Check if it's a time or datetime object
        return x.strftime("%H:%M:%S")
    else:
        return x # Return other types (like already-strings or Timedelta) as is

# Apply the safe formatting function
df_eda["rosc_time"] = df_eda["rosc_time"].apply(format_time_safely_rosc)

# Convert cleaned strings and existing Timedelta/NaT to timedelta safely
df_eda["rosc_time"] = pd.to_timedelta(df_eda["rosc_time"], errors="coerce")

In [ ]:
# recheck
df_eda["rosc_time"].apply(type).value_counts()

rosc_time
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>    803
<class 'pandas._libs.tslibs.nattype.NaTType'>          70
Name: count, dtype: int64

In [ ]:
# validate event order and find anomalies.
df_eda["arrest_to_cpr"] = df_eda["cpr_time"] - df_eda["arrest_time"]
df_eda["cpr_to_rosc"] = df_eda["rosc_time"] - df_eda["cpr_time"]
df_eda["arrest_to_rosc"] = df_eda["rosc_time"] - df_eda["arrest_time"]

In [ ]:
# Negative or absurd timings
mask_bad = (
    (df_eda["arrest_to_cpr"] < pd.Timedelta(0)) |
    (df_eda["cpr_to_rosc"] < pd.Timedelta(0))
)

df_bad = df_eda.loc[mask_bad, ["mrn", "arrest_time", "cpr_time", "rosc_time", "arrest_to_cpr", "cpr_to_rosc", "arrest_to_rosc"]]
df_bad.head()

,mrn,arrest_time,cpr_time,rosc_time,arrest_to_cpr,cpr_to_rosc,arrest_to_rosc
0,3143444,0 days 15:15:00,0 days 15:15:00,0 days 03:30:00,0 days,-1 days +12:15:00,-1 days +12:15:00
24,3355324,0 days 10:45:00,0 days 10:45:00,0 days 01:05:00,0 days,-1 days +14:20:00,-1 days +14:20:00
47,3279509,0 days 07:32:00,0 days 07:32:00,0 days 07:20:00,0 days,-1 days +23:48:00,-1 days +23:48:00
53,201223393,0 days 16:00:00,0 days 16:00:00,0 days 04:28:00,0 days,-1 days +12:28:00,-1 days +12:28:00
86,202156797,0 days 23:00:00,0 days 23:00:00,0 days 22:30:00,0 days,-1 days +23:30:00,-1 days +23:30:00

In [ ]:
# Combine date and time components to obtain full arrest, CPR, and ROSC timestamps
df_eda["arrest_dt"] = df_eda["arrest_date"] + df_eda["arrest_time"]
df_eda["cpr_dt"] = df_eda["cpr_date"] + df_eda["cpr_time"]
df_eda["rosc_dt"] = df_eda["rosc_date"] + df_eda["rosc_time"]

In [ ]:
df_eda[["arrest_dt","cpr_dt","rosc_dt"]].head()

            arrest_dt              cpr_dt             rosc_dt
0 2018-06-26 15:15:00 2018-06-26 15:15:00 2018-06-26 03:30:00
1 2018-07-14 14:30:00 2018-07-14 14:32:00 2018-07-14 15:10:00
2 2018-07-30 15:30:00 2018-07-30 15:30:00 2018-07-30 15:30:00
3 2018-10-14 14:00:00 2018-10-14 14:00:00                 NaT
4 2018-06-11 04:15:00 2018-06-11 04:15:00 2018-06-11 04:30:00

In [ ]:
# Confirm that derived arrest datetimes align with the recorded arrest year
df_eda[df_eda["arrest_dt"].dt.year != df_eda["arrest_year"]]

Empty DataFrame
Columns: [mrn, gender, birth_year, arrest_year, age, coronary_artery_disease, heart_failure, heart_disease, hypertension, copd, diabetes, cancer, covid_on_admission, smoking, event_location, arrest_date, arrest_time, cpr_date, cpr_time, defibrillation_info, initial_rhythm, rosc, rosc_date, rosc_time, survival_24h, survival_to_discharge, origin, arrest_to_rosc, arrest_to_cpr, cpr_to_rosc, arrest_dt, cpr_dt, rosc_dt]
Index: []

[0 rows x 33 columns]

In [ ]:
# Drop the intermediate arrest datetime after confirming consistency
df_eda.drop(columns=["arrest_dt"], inplace=True, errors="ignore")

In [ ]:
# Remove helper deltas and redundant date/time columns now that composite timestamps exist
df_eda.drop(columns=["arrest_to_cpr", "cpr_to_rosc", "arrest_to_rosc"], inplace=True, errors="ignore")
df_eda.drop(columns=["arrest_date", "cpr_date", "rosc_date", "arrest_time", "cpr_time", "rosc_time"], inplace=True, errors="ignore")

#### 6.7 Resuscitation Features

Standardize initial rhythm labels and engineer defibrillation metrics (shock counts and maximum delivered energy) to support downstream survival modeling.

In [ ]:
# Review the heterogeneity of initial rhythm entries before cleaning
df_eda["initial_rhythm"].value_counts(dropna=False)

initial_rhythm
asystol              412
na                   327
bradycardia           79
sinus                 10
PEA                    7
VF                     6
asystole               4
Asystole               3
NaN                    2
Asystol                2
no                     2
FA                     2
V-tach                 2
v-fib                  2
v tach                 2
bradycardie            1
bradycardiac           1
AF                     1
**                     1
sinus bradycardia      1
archive na             1
asysol                 1
1x 150J                1
SR                     1
no cpr                 1
aystol                 1
Name: count, dtype: int64

In [ ]:
import numpy as np

def clean_rhythm(val):
    """Collapse free-text rhythm entries into clinically meaningful buckets."""
    if not isinstance(val, str):
        return np.nan
    v = val.strip().lower()

    if v in ["asystol", "asystole", "asystol.", "asystol", "asysol", "aystol"]:
        return "Asystole"
    if "asy" in v:
        return "Asystole"
    if "pea" in v:
        return "PEA"
    if "vf" in v or "v-fib" in v or "v fib" in v:
        return "VF"
    if "vt" in v or "v-tach" in v or "v tach" in v:
        return "VT"
    if "brady" in v:
        return "Bradycardia"
    if "sinus" in v or v == "sr":
        return "Sinus/Other"
    if v in ["af", "fa"]:
        return "AF"
    if v in ["no", "no cpr", "na", "archive na", "**", "1x 150j", ""]:
        return np.nan
    return "Unknown"

df_eda["initial_rhythm"] = df_eda["initial_rhythm"].apply(clean_rhythm)

In [ ]:
df_eda["initial_rhythm"].value_counts(dropna=False)

initial_rhythm
Asystole       423
NaN            335
Bradycardia     82
Sinus/Other     11
VF               8
PEA              7
VT               4
AF               3
Name: count, dtype: int64

The cleaned rhythm categories reveal that asystole dominates the cohort, while shockable rhythms (VF/VT) are rare. A large share of encounters still lack documented rhythm, which should be communicated to clinicians before modeling.

In [ ]:
# Refer to the narrative summary above for interpretation of the cleaned rhythm distribution

In [ ]:
# Examine defibrillation annotations prior to parsing structured metrics
df_eda["defibrillation_info"].value_counts(dropna=False)

defibrillation_info
no                           749
na                            46
200J 1x                       10
1x 200J                       10
1x 360J                        5
200J 2x                        4
No                             3
2x 200J                        3
2x, 360J                       2
200j 1x                        2
3x 360J                        2
1x, 200J                       2
200j 2x                        2
x3 , 360 J                     1
200 j 6x                       1
2x 200J, 300J 1x               1
360J 1x                        1
1x, 300J                       1
2x, 270J                       1
1x 200 J                       1
9x 200J                        1
2x 360J                        1
1x 200J, 1x 360J               1
260j 1x                        1
1x 300J, 1X 200J               1
2x 300J, 3x 360J               1
4x 200J                        1
1x 270 J                       1
2x 270J                        1
1x 300J                        1
2x 200J, 4x 270J               1
**                             1
270J x3                        1
1x 200J, 1x 400J               1
270J 2x                        1
3x 200J, 1x 270J               1
archive na                     1
200L 1x                        1
200J x2                        1
200J 1x   270J 2x              1
1x 150J, 200J 2x, 270J 4X      1
200J 1X                        1
300J 3x                        1
2x 200J, 1x 150J               1
no cpr                         1
2x frequency na                1
Name: count, dtype: int64

In [ ]:
# Parse phrases like "1x 100J" into structured shock_count and max_energy features; default to zero when details are absent

In [ ]:
import re

def extract_shock_values(val):
    """Extract shock count and max energy from defibrillation info."""
    if not isinstance(val, str):
        return pd.Series([0, 0])
    v = val.strip().lower()
    v = re.sub(r'[^0-9xj\s]', ' ', v)
    v = re.sub(r'\s+', ' ', v).strip()
    v = v.replace(' j', 'j').replace('x ', 'x')
    matches = re.findall(r'(\d+)x\s*([0-9]+)j', v)
    if not matches:
        return pd.Series([0, 0])
    shocks = sum(int(a) for a, _ in matches)
    energy = max(int(b) for _, b in matches)
    return pd.Series([shocks, energy])

# Apply the extractor to derive numeric shock features without discarding any rows
df_eda[["shock_count", "max_energy"]] = df_eda["defibrillation_info"].apply(extract_shock_values)

In [ ]:
# Inspect descriptive statistics for engineered defibrillation metrics
df_eda[["max_energy", "shock_count"]].describe()

       max_energy  shock_count
count  873.000000   873.000000
mean    13.184422     0.098511
std     60.043441     0.558019
min      0.000000     0.000000
25%      0.000000     0.000000
50%      0.000000     0.000000
75%      0.000000     0.000000
max    400.000000     9.000000

#### 6.8 Outcome Harmonization

Align ROSC and survival indicators with the same `Y/N/U` semantics and validate cross-field consistency (e.g., ROSC must precede 24-hour survival).

In [ ]:
# Remove the unstructured defibrillation text column after feature extraction
df_eda.drop(columns=["defibrillation_info"], inplace=True, errors="ignore")

In [ ]:
# Review ROSC annotations before normalization
df_eda["rosc"].value_counts(dropna=False)

rosc
yes     479
no      392
Yes       1
 yes      1
Name: count, dtype: int64

In [ ]:
df_eda["rosc"] = df_eda["rosc"].str.lower().str.strip()

df_eda["rosc"] = df_eda["rosc"].replace({
    "yes": "Y",
    "no": "N",
    "na": "U"
})

In [ ]:
df_eda["rosc"].value_counts(dropna=False)

rosc
Y    481
N    392
Name: count, dtype: int64

In [ ]:
# Validate that ROSC timestamps exist only when ROSC was achieved
invalid_yes = df_eda[(df_eda["rosc"] == "Y") & (df_eda["rosc_dt"].isna())]
invalid_no = df_eda[(df_eda["rosc"] == "N") & (df_eda["rosc_dt"].notna())]

print("ROSC=Y but no time recorded:", len(invalid_yes))
print("ROSC=N but time recorded:", len(invalid_no))

ROSC=Y but no time recorded: 50
ROSC=N but time recorded: 372

In [ ]:
# Review 24-hour survival outcomes before cleaning
df_eda["survival_24h"].value_counts(dropna=False)

survival_24h
no     684
yes    187
NaN      2
Name: count, dtype: int64

In [ ]:
df_eda["survival_24h"] = df_eda["survival_24h"].str.lower().str.strip()

df_eda["survival_24h"] = df_eda["survival_24h"].replace({
    "yes": "Y",
    "no": "N",
    "na": "U"
})

In [ ]:
# Confirm standardized encoding for 24-hour survival
df_eda["survival_24h"].value_counts(dropna=False)

survival_24h
N      684
Y      187
NaN      2
Name: count, dtype: int64

In [ ]:
df_eda["survival_24h"] = df_eda["survival_24h"].replace("nan", "U")  # Handle textual NaN artifacts
df_eda["survival_24h"] = df_eda["survival_24h"].fillna("U")

In [ ]:
# Sanity check: survival at 24 hours requires ROSC to have occurred
invalid_24h = df_eda[(df_eda["survival_24h"] == "Y") & (df_eda["rosc"] == "N")]
print("Invalid survival_24h (Y but ROSC=N):", len(invalid_24h))

Invalid survival_24h (Y but ROSC=N): 0

In [ ]:
# Result: no contradictions detected between ROSC status and 24-hour survival

In [ ]:
# Review discharge survival status prior to standardization
df_eda["survival_to_discharge"].value_counts(dropna=False)

survival_to_discharge
no     822
yes     49
no       1
NaN      1
Name: count, dtype: int64

In [ ]:
df_eda["survival_to_discharge"] = df_eda["survival_to_discharge"].str.lower().str.strip()
df_eda["survival_to_discharge"] = df_eda["survival_to_discharge"].replace("nan", "U")
df_eda["survival_to_discharge"] = df_eda["survival_to_discharge"].fillna("U")
df_eda["survival_to_discharge"] = df_eda["survival_to_discharge"].replace({
    "yes": "Y",
    "no": "N",
    "na": "U"
})

In [ ]:
df_eda["survival_to_discharge"].value_counts(dropna=False)

survival_to_discharge
N    823
Y     49
U      1
Name: count, dtype: int64

#### 6.9 Infer Encounter Origin

Use normalized event locations to backfill missing origin codes (`ND`) while preserving originally captured ICU labels.

In [ ]:
# Standardize origin strings and quantify any discrepancies with normalized event locations
df_eda["origin"] = df_eda["origin"].astype(str).str.strip().str.upper()
df_eda["event_location"] = df_eda["event_location"].astype(str).str.strip().str.upper()

icu_origin_not_icu_event = df_eda[
    (df_eda["origin"] == "ICU") &
    (~df_eda["event_location"].str.contains("ICU"))
]

non_icu_origin_icu_event = df_eda[
    (df_eda["origin"] != "ICU") &
    (df_eda["event_location"].str.contains("ICU"))
]

print("ICU origin but event not in ICU:", len(icu_origin_not_icu_event))
print("Non-ICU origin but event in ICU:", len(non_icu_origin_icu_event))

ICU origin but event not in ICU: 24
Non-ICU origin but event in ICU: 0

In [ ]:
# Inspect the event location distribution for cases flagged above
df_eda['event_location'].value_counts(dropna=False)

event_location
ICU               640
MMS                69
CVU                62
FMS                35
CCU                22
PEDIATRIC          12
COVID_WARD         10
DSU                10
POST_ICU            6
OPERATING_ROOM      2
PEDIATRIC_ICU       2
OBSTETRICS          1
UNKNOWN             1
NEONATAL_ICU        1
Name: count, dtype: int64

In [ ]:
# Derive origin categories based on the standardized event location codes

| event_location                                       | Deduce origin as | Rationale                               |
| ---------------------------------------------------- | ---------------- | ---------------------------------------- |
| ICU, POST_ICU, CCU, CVU, NEONATAL_ICU, PEDIATRIC_ICU | ICU              | Intensive or coronary-critical units      |
| MMS, FMS, COVID_WARD                                 | Ward             | General inpatient or specialty wards      |
| PEDIATRIC                                            | Pediatric        | Dedicated pediatric ward                  |
| DSU, OPERATING_ROOM, OBSTETRICS                      | OR/Procedure     | Procedural or peri-operative environments |
| UNKNOWN                                              | Unknown          | No reliable location signal               |

In [ ]:
def deduce_origin(row):
    """Infer a cleaner origin label using event location when the source tag is unknown."""
    origin = str(row["origin"]).strip().upper()
    loc = str(row["event_location"]).strip().upper()

    if origin not in ["ND", "UNKNOWN", "NA", "N/A", ""]:
        return origin

    if loc in ["ICU", "POST_ICU", "CCU", "CVU", "NEONATAL_ICU", "PEDIATRIC_ICU"]:
        return "ICU"
    if loc in ["MMS", "FMS", "COVID_WARD"]:
        return "Ward"
    if loc in ["PEDIATRIC"]:
        return "Pediatric"
    if loc in ["DSU", "OPERATING_ROOM", "OBSTETRICS"]:
        return "OR/Procedure"
    return "Unknown"

df_eda["origin"] = df_eda.apply(deduce_origin, axis=1)

In [ ]:
df_eda["origin"].value_counts(dropna=False)

origin
ICU             735
Ward            114
Pediatric        12
OR/Procedure     12
Name: count, dtype: int64

#### 6.10 Final Quality Checks

- Demographic, comorbidity, event-context, timing, resuscitation, and outcome domains now follow unified encoding schemes.
- Derived timestamps (`cpr_dt`, `rosc_dt`) and shock metrics (`shock_count`, `max_energy`) replace intermediary helper fields.
- Consistency validations (e.g., ROSC vs. survival) return no contradictions, indicating the dataset is ready for modeling or visualization.

**Quality control summary**

- Demographics (`mrn`, `gender`, `birth_year`, `age`) remain internally consistent.
- Comorbidities (CAD, HF, COPD, smoking, etc.) use harmonized categorical codes.
- Event context (`origin`, `event_location`) is normalized with inferred values for `ND` records.
- Timing fields rely on unified datetime/timedelta representations for arrest, CPR, and ROSC.
- Resuscitation metrics (`initial_rhythm`, `shock_count`, `max_energy`) are numerically derived.
- Outcomes (`rosc`, `survival_24h`, `survival_to_discharge`) pass cross-field consistency checks.

In [ ]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mrn                      873 non-null    int64
 1   gender                   873 non-null    object
 2   birth_year               872 non-null    float64
 3   arrest_year              873 non-null    int64
 4   age                      872 non-null    float64
 5   coronary_artery_disease  873 non-null    object
 6   heart_failure            873 non-null    object
 7   heart_disease            873 non-null    object
 8   hypertension             873 non-null    object
 9   copd                     873 non-null    object
 10  diabetes                 873 non-null    object
 11  cancer                   873 non-null    object
 12  covid_on_admission       873 non-null    object
 13  smoking                  873 non-null    object
 14  event_location           873 non-null    object
 15  initial_rhythm           538 non-null    object
 16  rosc                     873 non-null    object
 17  survival_24h             873 non-null    object
 18  survival_to_discharge    873 non-null    object
 19  origin                   873 non-null    object
 20  cpr_dt                   868 non-null    datetime64[ns]
 21  rosc_dt                  803 non-null    datetime64[ns]
 22  shock_count              873 non-null    int64
 23  max_energy               873 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(16)
memory usage: 163.8+ KB

#### 7. Export Clean Dataset

Persist the curated dataset to Excel so downstream analysts can consume a single, standardized source.

In [ ]:
df_eda.describe()

,mrn,birth_year,arrest_year,age,cpr_dt,rosc_dt,shock_count,max_energy
count,8.730000e+02,872.000000,873.000000,872.000000,868,803,873.000000,873.000000
mean,1.560066e+08,1949.783257,2020.932417,71.147936,2021-05-27 06:18:40.161290240,2021-05-30 01:41:23.985055744,0.098511,13.184422
min,2.000000e+00,1905.000000,2018.000000,0.000000,2018-04-05 15:00:00,2018-05-12 09:50:00,0.000000,0.000000
25%,2.006259e+08,1937.000000,2020.000000,64.000000,2020-01-01 19:29:45,2020-01-01 15:58:30,0.000000,0.000000
50%,2.012242e+08,1945.000000,2021.000000,76.000000,2021-04-30 06:09:00,2021-04-29 03:02:00,0.000000,0.000000
75%,2.018344e+08,1957.000000,2022.000000,85.000000,2022-12-10 13:32:30,2022-12-26 23:54:30,0.000000,0.000000
max,2.024232e+08,2022.000000,2024.000000,113.000000,2024-02-29 03:30:00,2024-02-29 02:12:00,9.000000,400.000000
std,8.403253e+07,20.081923,1.730399,19.964950,NaN,NaN,0.558019,60.043441

In [ ]:
# Export the cleaned DataFrame to an Excel file
df_eda.to_excel("ihca_cleaned.xlsx", index=False)
print("DataFrame exported to ihca_cleaned.xlsx")

DataFrame exported to ihca_cleaned.xlsx